*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #DC052D;
    padding: 1%;
}

.header-list{
    text-align: center;
}

.header-list li{
    width: 7%;
    display: inline-block;
}

nav{
    background-color: #C60428;
    position: sticky;
    top: -1px;
    z-index: 1;
    width: 100%;
}

nav ul{
    margin-left: 6.7%;
    text-align: justify;
    white-space: nowrap;
}

nav a li{
    display: inline-block;
    width: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    padding: 0.7%;
    box-sizing: border-box;
    text-align: center;
}


nav a{
    text-decoration: none;
    color: white;
    font-family: var(--fonts-generic-textSemiBold-fontFamily);
    font-weight: bold;
    font-size: medium;
}

.search li:hover{
    border: none;
}

.banner img{
    width: 100%;
    margin-bottom: -5px;
}

nav li:hover{
    border-bottom: 2px solid white;
}

.search li{
    margin-left: 45%;
}

article{
    text-align: center;
    padding: 73px;
    padding-bottom: 40px;
}

article h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 423%;
    font-weight: bold;
    color: white;
}

article p{
    margin-top: 30px;
    line-height: 1.5em;
    text-align: justify;
    font-family: Arial; 
    padding: 10px 50px;
    padding-bottom: 80px;
    color: whitesmoke;
}

p::selection, h1::selection, h5::selection, h2::selection{
    background-color: #F63232;
    color: white;
}

article p::first-line {
    font-weight: bold;
    font-size: 1.2em;
    color: white;
}

main{
    background-color: rgb(13, 13, 56);
}

main div{
    text-align: center;
    margin-top: -40px;
    padding-bottom: 50px;
    background-color: rgb(255, 255, 255);
}

main div h2{
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    color: black;
    padding-top: 30px;
    padding-bottom: 50px;
    margin: 0;
}

main div ul{
    text-align: center;
    white-space: nowrap;
}

main div ul li{
    display: inline-block;
    width: 25%;
}

.caption{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
    color: black;
}

main div ul li img{
    border-radius: 10px;
    box-shadow: #4B4B4B;
    height: 60%;
    width: 60%;
    position: relative;
    background-color: rgb(237, 28, 202);
}

main div ul li img:hover{
    top: -2px;
}

.shadow{
    box-shadow: 7px 10px 110px rgba(203, 137, 127, 0.83); /* Adjust the values as needed */
    
}

.matches{
    background-color: #DC052D;
    padding-bottom: 5%  ;
}

.matches header{
    text-align: left;
    padding-left: 17%;
    padding-top: 5%;
}

.matches header h1{
    color: white;
    font-size: 300%;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.matches ul{
    padding-left: 17%;
    padding-top: 4%;
    padding-right: 15%;
    padding-bottom: 4%;
}

.matches ul li{
    display: inline-block;
    width: 30%;
    margin-right: 3%;

}
.matches ul li div{
    display: inline-block;
    position: relative;
}

.matches ul li div img{
    width: 100%;
    margin-bottom: -5px;
} 

.description{
    background-color: rgb(255, 255, 255);
    padding: 0px;
    padding-top: 5%; 
    width: 100%;
    text-align: center;
    padding: 0px;
    padding-bottom: 7%;
    box-sizing: border-box;
}

.description h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 130%;
    padding: 5%;
    padding-bottom: 3%;
}

.description h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 110%;
    margin-top: 0%;
    padding-top: 0%;
}

.subtitles{
    line-height: 1em;
    text-align: justify;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    padding: 5% 15%;
    margin-top: 0%;
    color: #4B4B4B;
    font-size: 100%;
}


.subtitles::first-line {
    font-weight: normal;
    font-size: 1em;
    color: #4B4B4B
}

.description span{  
    padding: 10%;
}


.description a span{
    background-color: #DC052D;
    color: azure;
    display: block;
    width: 35%;
    margin: auto;
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    padding: 3%;
}

.description a{
    text-decoration: none;
}

.description a span:hover{
    background-color: rgb(140, 224, 13);
}

.matches div:hover{
    top:-5px;
}

.nl{
    background-color: rgb(15, 15, 15);
}

.nl div{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 12%;
    margin-right: 12%;
    background-color: rgb(239, 234, 234);
    display: inline-block;
    width: 75%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}

.nl div h1{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    padding-bottom: 2%;
    font-size: 200%;
}

form input{
    padding: 0.5%;
    font-size: 130%;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: bold;
    background-color: rgb(68, 78, 106);
    margin-right: 1%;
    color: white;
    width: 30%;
}

form select{
    padding: 0.5%;
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(68, 78, 106);
    margin-right: 4%;
    color: white;
    width: 25%;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: bold;
}

.newsletter p{
    padding: 0.4%;
    padding-top: 1%;
    padding-bottom: 0.2%;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 120%;
}

.newsletter button{
    background-color: #DC052D;
    color: white;
    font-size: 100%;
    font-family: 'Montserrat';
    font-weight: bold;
    padding: 1%;
    border: #DC052D;
    border-radius: 5%;
}

.newsletter button:active{
    background-color: rgb(118, 194, 4);
}

input::placeholder,
textarea::placeholder {
  color: #ffffff; /* Change this to your desired color */
}

form input::hover{
    background-color: #657b87;
}

form input:valid {
    border: 3px solid #71D300;
}

@media screen and (max-width: 1030px) {
    nav a li{
        display: inline-block;
        width: 15%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 97%;
        padding: 0.7%;
        box-sizing: border-box;
        text-align: center;
    }

    nav{
        position: sticky;
        top: -0.005%;
    }

    .search li{
        margin-left: 20%;
    }

    .matches ul li{
        display: inline-block;
        width: 30%;
        margin-right: 2%;
    
    } 
}

@media screen and (max-width: 500px) {
    nav a li{
        width: 20%;
        font-size: 80%;
    }

    nav{
        position: sticky;
        top: -1px;
    }

    .search li{
        margin-left: -3%;
    }

    .header-list li{
        width: 12%;
        height:auto;
        display: inline-block;
    }

    main div h2{
        font-size: 20px;
    }

    article h1{
        font-size: 300%;
    }

    article{
        padding: 25px;
    }

    article p{
        padding: 22px;
        padding-bottom: 80px;
        padding-top: 5px;
        font-size: 75%;
    }

    article h1{
        text-align: justify;
            font-size: 200%;
        }
    
    .matches ul li{
    display: inline-block;
    width: 100%;
    margin-right: 3%;
    padding-bottom: 10%;

}

    form input{
        display: block;
        width: 95%;
        margin: auto;
        margin-bottom: 4%;
        margin-top: 5%;
        font-size: 94%;
    }

    form select{
        display: block;
        width: 95%;
        margin: auto;
        margin-bottom: 4%;
        margin-left: 1%;
        font-size: 94%;
    }

    form button{
        margin-left: 1.3%;
        width: 35%;
    }

    form span{
        font-size: 80%;
        padding-left: 3%;
        padding-right: 3%;

    }

    .nl p{
        margin-top: 3%;
        font-size: 95%;
        padding-bottom: 3.5%;
    }

    .nl div{
        margin-top: 10%;
        margin-bottom: 10%;
    }

 /* Please go on github*/
}

@media screen and (max-width: 400px) {
    nav a li{
        width: 20%;
        font-size: 70%;
    }

    .search li{
        margin-left: -7%;
    }

    main div ul li img{
        height: 100%;
        width: 100%;
    }

    article h1{
    text-align: justify;
        font-size: 180%;
    }
}

@media screen and (max-width: 425px) {
    nav a li{
        font-size: 55%;
    }

    nav ul{
        padding-top: -50%;
    }

    nav{
        position: sticky;
        top: 0%;
    }

    .search li{
        margin-left: -6%;
    }

    .header-list li{
        width: 12%;
        height:auto;
        display: inline-block;
    }

    main div h2{
        font-size: 20px;
    }

    article h1{
        text-align: justify;
        font-size: 180%;
    }

    article{
        padding: 20px;
    }

    article p{
        padding: 17px;
        padding-bottom: 80px;
        font-size: 65%;
    }

    .caption{
        font-size: small;
    }

    main div ul li img{
        height: 80%;
        width: 80%;
    }
    
}

